/*! project specific CSS goes here. */

body {
	font-family: "Lucida Sans Unicode";
    background: #FFF;
    margin:  0px;
    font-size: 16px;
}

#site-header {
    width: 100%;
    background:  #FFF;
    margin: 0px 0px 0px 0px;
    height: 66px;
}

#site-header-logo {
    float: left;
    position: relative;
}

#site-header-img {
    height: 66px;
}

#site-header-logo a {
    text-decoration: none;
    color: #000;
}

ul.nav-menu {
    float: right;
    margin: 40px 20px 0 0;
    font-size: 17px;
    display: inline-block;
}
 ul.nav-menu li {
    display: inline-block;
}

/* home page nav */
.pagination {
    text-align: center;
    width: 100%;
    background: #E1E3E4;
    margin: 0px 0 20px 0!important;
    padding: 13px;
    display: inline-block;
    border-radius: 0!important;
    color: #000026;;
}

.pagination a {
    margin: 0 10px;
    color: #444444;
    text-decoration: none!important;
}
.pagination a:hover {
    color: #FFF;
}

#mobile-nav-icons {
    display: none;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  background: #FFF;
}

td.solved {
    text-align:center;
}

/*home page table*/

.table-of-contents {
    margin: 05%;
    width: 90%;
}

.table-of-contents a {
    color: #000026;
    text-decoration: none!important;
}

.table-of-contents a:hover {
    color: #000026;
}

#current-page {
    margin: 0 10px;
}

/* login page */
#login-form {
    padding: 20px;
}

#login-button {
    margin: 10px;
}

/* problem page stuff */

.problem-header {
    margin: 0px;
    background: #000026;
    padding: 0px;
    width:  100%;
}

.problem-header a {
    margin-top:  10px;
    color: #fff;
    text-decoration: none!important;
}

.problem-header a:hover {
    color: #444444;
}

.prev-problem {
    float: left;
    margin-left: 20px;
    color: #000!important;
}

.next-problem {
    float: right;
    margin-right: 40px;
    color: #000!important;
}

.problem-description {
    margin: 0px 10% 0px 8%;
    padding: 32px 0px;
    font-size: 16px;
    text-align: justify;
}

.container {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100%;
}

.navbar-nav {
    float: left;
    margin: 0;
}

#logout {
    float: right;
}

.page-content {
	padding: 0 20px;
    margin: 0;
}

#euler-link {
    width: 100%;
    text-align: center;
}

#euler-link a {
    color: #000;
}
