/*! project specific CSS goes here. */

body {
	font-family: "Lucida Sans Unicode";
    background: #FFF;
    margin:  0px;
    font-size: 16px;
    width: 97%;
}

.page-content {
    margin: 0;
}

#logout {
    float: right;
}

#site-header {
    width: 100%;
    background:  #FFF;
    margin: 0px 0px 0px 0px;
    height: 66px;
}

#site-header-logo {
    float: left;
    position: relative;
}

#site-header-img {
    height: 67px;
}

#site-header-logo a {
    text-decoration: none;
    color: #000;
}

ul.nav-menu {
    float: right;
    margin: 40px 0px 0 0;
    font-size: 17px;
}

ul.nav-menu li {
    display: inline-block;
    padding: 0 10px;
}

ul.nav-menu a {
  color: #000;
  text-decoration: none;
}

ul.nav-menu a:hover {
  color: #000026;
}

/* home page nav */

.navbar-nav {
    float: left;
    margin: 0;
    background: #E1E3E4;
    text-align: center;
    width: 101%;
    margin: 0px 0 0px 0!important;
    padding: 13px;
    border-radius: 0!important;
    color: #000026;;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navbar-nav .bottom {
  border-top: 1px solid black;
}

.navbar-nav li {
  display: inline-block;
}

.random-problems li {
  background: #000;
  width: 270px;
  margin: 0 20px;
}

.problems-display-settings {
  float: right;
  padding-top: 10px;
}

.random-problems a {
  text-decoration: none;
  padding: 15px;
  color: #FFF;
}

.page-current {
  padding: 0 25px;
}

.pagination p {
  margin: 0 5px;
  display: inline-block;
}

.pagination a {
    margin: 0 5px;
    color: #444444;
    text-decoration: none!important;
}
.pagination a:hover {
    color: #FFF;
}

#mobile-nav-icons {
    display: none;
}

/* table of contents */

table {
  border-collapse: collapse;
  border-radius: 20px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  background: #FFF;
}

td.solved {
    text-align:center;
}

.table-of-contents {
    margin: 05%;
    width: 90%;
}

.table-of-contents a {
    color: #000026;
    text-decoration: none!important;
}

.table-of-contents a:hover {
    color: #000026;
}

#current-page {
    margin: 0 10px;
}

/* login page */
#login-form {
    padding: 20px;
}

#login-button {
    margin: 10px;
}


/* problem template */

.problem-header {
    margin: 0px;
    background: #000026;
    padding: 0px;
    width:  100%;
}

.problem-header a {
    margin-top:  10px;
    color: #fff;
    text-decoration: none!important;
}

.problem-header a:hover {
    color: #444444;
}

.prev-problem {
    float: left;
    margin-left: 0px;
    margin-top: 2px;
    color: #000!important;
    text-decoration: none;
    font-size: 20px;
}

.next-problem {
    float: right;
    margin-right: 36px;
    margin-top: 2px;
    color: #000!important;
    text-decoration: none;
    font-size: 20px;
}

.problem-description {
    margin: 8% 10% 0px 14%;
    padding: 25px 0px 10px;
    font-size: 16px;
    text-align: justify;
}

#input-area {
    text-align: center;
}

#output-area {
    margin: 25px 0 0 0;
}

#solution {
    text-align: center;
    margin: 25px 0;
}

/* footer */

#footer-link {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#footer-link a {
    color: #000;
}

/* solution overlay */

#solution-overlay {
    width: 100%;
    height: 100px;
    min-height: 100%;
    background-color: #FFF;
    opacity: 0.9;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.solution-text {
  position:absolute;
  top: 102px;
  left: 5%;
  background-color: white!important;
  opacity: 1;
  border-bottom: 1px solid black!important;
  border-top: 0px!important;
  border-left: 0px!important;
  border-right: 0px!important;
  outline:none;
  width: 90%!important;
}

label[for="solution-text"] {
  position:absolute;
  top:200px;
  left:100px;
  display:block;
  font-size: 48px;
  height: 100px;
}

.solution-text::-webkit-input-placeholder { /* WebKit browsers */
  color:    #BBB;
}
.solution-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #BBB;
}
.solution-text::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #BBB;
}
.solution-text:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #BBB;
}

.solution-button {
  border: 2px solid black;
  width: 46px;
  height: 47px;
  cursor: pointer;
  overflow: hidden;
  display:block;
  float:right;
  margin: 5px 12px 0 5px;
}

.solution-form button {
  position:absolute;
  top:200px;
  left: 5%;
  border:1px solid #000;
  background-color:white;
  font: 42px/42px "Neue Helvetica W01", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding:4px 12px;
  cursor:pointer;
}

.solution-close {
  position:absolute;
  top:70px;
  right:2%;
  font-size: 32px;
  color: #000;
}

.solution-close:hover {
  color:#000!important;
}
