/* -----------  ----------- */
@media screen and (max-width: 960px) {
  html, body {
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  #site-header {
    position: fixed!important;
    width: 100%;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid black;
  }

  #top-nav-bar { 
    margin-top: 67px!important;
    border-top: none;
  }

   /* search */
  #search-overlay
  {
    width: 100%;
    height: 100px;
    min-height: 100%;
    background-color: #FFF;


    opacity: 0.9;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
  }
  .search-text
  {
      position:absolute;
      top: 102px;
      left: 5%;
      background-color: white!important;
      opacity: 1;
      border-bottom: 1px solid black!important;
      font-size: 64px!important;
      border-top: 0px!important;
      border-left: 0px!important;
      border-right: 0px!important;
      outline:none;
      width: 90%!important;
  }
  label[for="search-text"]
  {
      position:absolute;
      top:200px;
      left:100px;
      display:block;
      font-size: 48px;
      height: 100px;
  }

  .search-text::-webkit-input-placeholder { /* WebKit browsers */
      color:    #BBB;
  }
  .search-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #BBB;
  }
  .search-text::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #BBB;
  }
  .search-text:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #BBB;
  }
  .search-button
  {
      border: 2px solid black;
      width: 46px;
      height: 47px;
      cursor: pointer;
      overflow: hidden;
      display:block;
      float:right;
      margin: 5px 12px 0 5px;
  }


  .search-form button
  {
      position:absolute;
      top:200px;
      left: 5%;
      border:1px solid #000;
      background-color:white;
      font: 42px/42px "Neue Helvetica W01", Helvetica, Arial, sans-serif;
      font-weight: bold;
      padding:4px 12px;
      cursor:pointer;
  }
  .search-close
  {
      position:absolute;
      top:70px;
      right:2%;
      font-size: 32px;
  }

  .search-close:hover {
      color:#000!important;
  }
  /* end search */

  ul.nav-menu {
    display: none;
    position: absolute;
    top: 75px;
    right: 0px;
    width: auto;
    height: auto;
    background: #000026;
    margin: 0;
    padding: 10px;
    text-align: left;
    line-height: 50px;
    list-style: none;
    z-index: 5;
  }

  ul.nav-menu li {
    margin: 0;
    padding: 0 10px;
    display: block;
    text-align: left!important;
  }

  ul.nav-menu a {
      color: #FFF!important;
      text-decoration: none;
  }

  ul.nav-menu a:hover {
      color: #65A7A1!important;
  }

  #mobile-nav-icons {
      display: block!important;
      list-style-type: none  ;
      margin: 0px 8px 0 0;
      font-size: 24px;
  }

  #mobile-nav-icons li {
    float: right;
    display: inline;
    margin: 34px 0px 0 10px;
    padding: 0 10px;
    font-size: 26px;
  }

  #mobile-nav-icons a, #mobile-nav-icons a:hover, 
  #search-overlay a {
    color: #000;
    text-decoration: none;
  }

  .problem-description {
    margin: 100px 15% 0px 15%;

}

/* ----------- tablet ----------- */
@media screen and (max-width: 767px) {
  
  body {
      font-size: 20px;
  }

  .problem-header-text {
    font-size: 14px;
  }

  .problems-display-settings {
    font-size: 16px;
  }
}
