{% extends 'base.html' %}
{% load euler_tags %}
	
{% block header %}
	{{ block.super }}
	<div class="navbar-nav">
		{% if problem.number != 1 %}
			<a class="prev-problem" href="{{ problem | previous_url }}"> <&nbsp;&nbsp;&nbsp;Previous</a>
		{% endif %}
		<span class="headerthree">Problem {{ problem.number }}: {{ problem.title}}</span>
		<a class="next-problem" href="{{ problem | next_url }}">Next &nbsp;&nbsp;></a>
	</div>
{% endblock %}	

{% block description %}
	<div class="problem-description">
		<p>{{ problem.description | safe }}</p>
	</div>
{% endblock %}

{% block content %}
	{% if problem.solved %}
		<div id="interact">
			{% include 'interact.html' %}
		</div>
	{% endif %}
{% endblock %}

{% block solution %}
	{% if problem.solved %}
		<div id="solution">
        	<button type="button" id="solution-button">View Solution</button>
		</div>
	{% endif %}
{% endblock %}

{% block footer %}
	<div id="footer-link">	
		<a href="{{ problem.link }}">view on project euler</a>
	</div>
{% endblock %}

{% block extra_body_content %}
	{{ block.super }}

	<script type="text/html" id="solution-overlay-template">
        <div id="solution-overlay">
            <div class="solution-text">
            	<p>{{ problem.solution | safe }}</p>
            </div>
            <a href="javascript:;" class="solution-close"><i class="fa fa-times-circle-o"></i></a>
        </div>
    </script>

	<script>
		$(document).ready(function () {
			$("#solution-button").click(function(){
                // get template
                var solution_template = $('#solution-overlay-template').html();
                // load it in
                $('#interact').after(solution_template);
                $('html, body').animate({ scrollTop: 0 }, 'fast');
            });

            $('body').on('click', '.solution-close', function () {
                $('#solution-overlay').remove();
            });
		});
	</script>
{% endblock %}

{% block interactive %}
	<script>
		$(document).ready(function () {
		    function calculateResult(number) {
		        $.ajax({
		            url: '{{ problem.callback_function }}' + '?x=' + number,
		            type: 'get',
		            contentType: 'application/json',
		            success: function(response) {
		            	// fill table cells with results
		            	var response_data = JSON.parse(response);
		            	// check for existing entries for this number and remove
		            	$("#request-table tr td:nth-child(1)").each(function () {
		            		if (response_data.number == $(this).html()) {
		            			$(this).closest('tr').css('display', 'None');
		            		}
						});
		            	// prepend to top of the table
		            	$('#headers').after(
						    '<tr><td class="table-element">' + 
						    	response_data.x + '</td><td class="table-element">' +
						    	response_data.value  + '</td><td class="table-element">' +
						    	response_data.last_requested  +
						    '</td></tr>');
		            },
		            error: function (jqXhr, textStatus, errorThrown) {
		                console.log(errorThrown);
		            }
		        });
		    };

		    $("#submit-button").click(function(){
		        var number = $( "#id_calculator" ).val();
		        calculateResult(number);
	    	});
		});
	</script>
{% endblock %}