{% extends 'base.html' %}

{% block content %}
    {% block topnavbar %}
        <ul id="top-nav-bar" class="pagination nav navbar-nav">
            <li>Search for: '{{ query }}'</li>
        </ul>
    {% endblock %}     

    <div id="search-results">
        {% if page.object_list|length > 0 %}
            <h3>Results</h3>

            <table class="table-of-contents search-table">
                <tr>
                    <td class="table-header">#</td>
                    <td class="table-header">Title</td>
                    <td class="table-header solved">Solved</td>
                </tr>
                {% for problem in page.object_list %}
                    <tr>
                        <td class="table-element">{{ problem.number }}</td>
                        <td class="table-element"><a href='{% url "euler_problem" problem.number %}'>{{ problem.title}}</a></td>
                        <td class="solved">
                            {% if problem.solved %}
                                &#x2713;
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            </table>          

            {% block bottomnavbar %}
                <ul class="pagination nav navbar-nav">
                    <div class="pagination">
                        <span class="page-links">
                            {% if page.has_previous %}
                                <a href="?q={{ query }}&page={{ page.previous_page_number }}"><i class="fa fa-chevron-left"></i></a>
                            {% else %}
                                <p><i class="fa fa-chevron-left"></i></p>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page.number }} of {{ page.paginator.num_pages }}
                            </span>
                            {% if page.has_next %}
                                <a href="?q={{ query }}&page={{ page.next_page_number }}"><i class="fa fa-chevron-right"></i></a>
                            {% else %}
                                <p><i class="fa fa-chevron-right"></i></p>
                            {% endif %}
                        </span>
                    </div>
                </ul>
            {% endblock %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
    {% block footer %}
        <div id="footer-link"></div>
    {% endblock %}
{% endblock %}