{% extends 'base.html' %}

{% block content %}
    {% block topnavbar %}
        <ul id="top-nav-bar" class="pagination nav navbar-nav">
            <li>Search for: '{{ query }}'</li>
        </ul>
    {% endblock %}     

    <div id="search-results">
        {% if page.object_list|length > 0 %}
            <h3>Results</h3>

            <table class="table-of-contents search-table">
                <tr>
                    <td class="table-header">#</td>
                    <td class="table-header">Title</td>
                    <td class="table-header solved">Solved</td>
                </tr>
                {% for problem in page.object_list %}
                    <tr>
                        <td class="table-element">{{ problem.number }}</td>
                        <td class="table-element"><a href='{% url "euler_problem" problem.number %}'>{{ problem.title}}</a></td>
                        <td class="solved">
                            {% if problem.solved %}
                                &#x2713;
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            </table>          

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
{% endblock %}